.NavBarItems {
    background: rgb(138, 197, 194);
    height:  80px;
    display: flex;
    justify-content: inline;
    align-items: inline;
    font-size: 1.2rem;

}

.nav-links-mobile {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavBarItems {
        position: relative;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;

    }

    .nav-menu.active {
        background: #6668f4;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    
}






