
    body {
        background-color: cadetblue;
    }
    .flash-card {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 24px;
        line-height: 72px;
        width: 216px;
        border: 1px solid black;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
        margin: 18px;
        cursor: pointer;
        user-select: none;
        transform-style: preserve-3d;
        transition: 150ms;
        transform:perspective(1000px) rotateY(car(--rotate-y, 0));
       
    }

    .flash-card.flip {
        --rotate-y: 180deg;
    }
    
    .flash-card.front {
        background-color: #8c668f;  
     


    }

    .flash-card.back {
        background-color: #59a5bd;
       

    }